<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Accueil</a></li>
			<li {% if current[1] == 'formation.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/formation.html">Formations</a></li>
			<li {% if current[1] == 'equipement.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/equipement.html">Équipements</a></li>
			<li {% if current[1] == 'parrainage.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/parrainage.html">Parrainages</a></li>
			<li {% if current[1] == 'objectif.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/objectif.html">Objectifs</a></li>
			<li {% if current[1] == 'ressource.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/ressource.html">Ressources</a></li>
		</ul>
	</nav>