---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Bienvenue sur le site de l'ADMRA</h2>
										<span class="byline">&hellip; Association pour le Développement Médical au Vietnam,Antenne Rhône-Alpes. France(ADMRA)</span>
									</header>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Qui sommes-nous</h2>
						<span class="byline">Association Loi 1901 de bénévoles dont le projet est le soutien du Viêt-Nam pour le développement médical et paramédical par des formations, par des équipements hospitaliers en matériels et par des parrainages d’enfants à visée socio-éducative.</span>
					</header>
					<div class="row no-collapse-1">
						<div class="6u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/dongthap.jpg" alt=""></a>
							<p>Différentes variétés de sucre de DONG THAP</p>
						</div>
						<div class="6u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/gaogiong.jpg" alt=""></a>
							<p>Une vue du parc aux oiseaux de Gao Giong</p>
						</div>

					</div>
				</section>
			</div>

	{{ content }}